torch==2.12.0
numpy==2.4.6
scipy==1.17.1
hyperopt==0.2.7
pandas==3.0.3
tqdm==4.67.3
scikit_learn==1.9.0
pyyaml==6.0.3
colorlog==6.10.1
colorama==0.4.6
tensorboard==2.20.0
thop==0.1.1.post2209072238
ray[tune]==2.55.1
tabulate==0.10.0
plotly==6.7.0
texttable==1.7.0
psutil==7.2.2
lightgbm==4.6.0
xgboost==3.2.0
faiss-cpu==1.14.2
pytest==9.0.3
