[model]
train_batch_size=2048
test_batch_size=2048
valid_batch_size=2048
embedding_size=64
reg_mf=0.0
learning_rate=0.001
learner=adam
num_negatives=1

#pairwise:BPR(BPRMF),hinge,square
#pointwise:cross_entropy(gmf),square
is_pairwise=True
loss_function=bpr
#tnormal:truncated_normal_initializer, uniform: random_uniform_initializer,
#normal: random_normal_initializer, xavier_normal, xavier_uniform, 
#he_normal, he_uniform. Defualt: tnormal
init_method=normal
stddev=0.01
verbose=1
eval_step=0
stopping_step=5
checkpoint_dir='saved'


