[model]
epochs=300
model.train_batch_size=2048
model.test_batch_size=2048
model.valid_batch_size=2048
model.embedding_size=64
model.reg_mf=0.0
model.learning_rate=0.001
model.learner=adam
model.num_negatives=1
#pairwise:BPR(BPRMF),hinge,square
#pointwise:cross_entropy(gmf),square
model.is_pairwise=True
model.loss_function=bpr
#tnormal:truncated_normal_initializer, uniform: random_uniform_initializer,
#normal: random_normal_initializer, xavier_normal, xavier_uniform, 
#he_normal, he_uniform. Defualt: tnormal
model.init_method=normal
model.stddev=0.01
model.verbose=1
model.eval_step=1
model.stopping_step=5
model.checkpoint_dir='saved'
