[model]
epochs = 300
model.train_batch_size = 2048
model.test_batch_size = 2048
model.valid_batch_size = 2048
model.embedding_size = 64
model.reg_mf = 0.6
model.learning_rate = 0.001
model.learner = adam
model.num_negatives = 1
model.is_pairwise = True
model.loss_function = bpr
model.init_method = normal
model.stddev = 0.01
model.verbose = 1
model.eval_step = 1
model.stopping_step = 5
model.checkpoint_dir = 'saved'

