[data]

########define the UIRT columns
data.USER_ID_FIELD='reviewerID'
data.ITEM_ID_FIELD='asin'
data.RATING_FIELD='overall'
data.TIMESTAMP_FIELD='unixReviewTime'

data.SEQ_LEN={'description':256,'reviewText':256}
data.NEG_PREFIX='neg'


########columns rename
data.columns.price='p'
data.columns.description='des'


#########select load columns
data.LOAD_COLUMN=['asin', 'reviewerID', 'overall']
data.UNLOAD_COLUMN=['unixReviewTime', 'price']


########data separator
data.separator='\t'