[default]

######## model
model=MF

########device
gpu_id=0
seed=2020

######## dataset
dataset='ml-100k'
dataset.path='ml-100k/u.data'


######## pre-processing/filtering/spilt
process.remove_lower_value_by_key.key='rating'
process.remove_lower_value_by_key.min_remain_value=3

process.split_by_ratio.train_ratio=0.8
process.split_by_ratio.test_ratio=0.1
process.split_by_ratio.valid_ratio=0.1

process.neg_sample_to.num=100


######## training
train.num_workers=4
train.epochs=300


######## evaluating
eval.metric=["Recall", "Hit", "MRR"]
eval.topk=[10, 20]
eval.group_view=None
eval.candidate_neg=0
eval.test_batch_size=128
