[default]

# model
model=BPRMF

# dataset
dataset='ml-100k'
data_path='dataset/'

# device
gpu_id=0

# pre-processing/filtering/spilt
remove_lower_value_by_key.key='rating'
remove_lower_value_by_key.min_remain_value=3
train_split_ratio=0.8
test_split_ratio=0.1
valid_split_ratio=0.1
test_neg_sample_num=100

# training
epochs=300
train_batch_size=2048
valid_batch_size=2048
learning_rate=0.001
learner=adam
eval_step=0
stopping_step=5
checkpoint_dir='saved'
seed=2020
train.num_workers=4

# evaluating
eval_metric=["Recall", "Hit", "MRR"]
topk=[10, 20]
test_batch_size=2048
group_view=None
candidate_neg=0
