[default]

# model
model=BPRMF

# dataset
dataset='ml-100k'
data_path='dataset/'

# device
gpu_id=1

# pre-processing/filtering/spilt
lowest_val={'rating':3}
train_split_ratio=0.8
test_split_ratio=0.1
valid_split_ratio=0.1
test_neg_sample_num=100
group_view=None

# training
epochs=300
train_batch_size=2048
learning_rate=0.001
learner=adam
eval_step=1
stopping_step=5
checkpoint_dir='saved'
seed=2020

# evaluating
eval_metric=["Recall", "Hit", "MRR", "AUC"]
topk=[10, 20]
valid_batch_size=2048
test_batch_size=2048
