[model]

# WARNING:
# 1.if you set inter_matrix_type='rating', you must set drop_filter_field=False in your data config files.
# 2.The dimensions of the last layer of users and items must be the same

inter_matrix_type = '01'
# inter_matrix_type = 'rating'  
user_layers_dim = [64, 64]
item_layers_dim = [64, 64]
min_y_hat = 1e-6